<%include ./partials/header.ejs%>
<div class="text-white text-center font-bold text-xl capitalize"><h1><%=clickedUser.fullname%>'s pins </h1></div>
<div class="post-container w-full h-full flex gap-10 mt-5 flex-wrap p-12 ">
    <%for(let i=clickedUser.posts.length-1;i>=0;i--){
        const post=clickedUser.posts[i]%>
        <div class="card bg-white rounded-lg overflow-hidden h-auto max-w-64">
            <div class="card-img overflow-hidden  bg-cover w-64 h-80 bg-[url(/images/uploads/<%=post.image%>)]">
                <img src="" alt="">
            </div>
            <div class="card-caption p-1">
                <p class="font-semibold"><%=post.title%></p>
                <div class="description text-sm p-1">
                    <p><%=post.description%></p>
                </div>
            </div>
          </div><%}%>
      
    </div>
<%include ./partials/footer.ejs%>